/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap'); */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-primary, .form-control, .form-select {
  outline-color: #81BC55 !important;
  --bs-primary: #81BC55 !important;
  --bs-btn-bg: #81BC55 !important;
  --bs-btn-border-color: transparent !important;
  --bs-btn-active-bg: #99be7e !important;
  --bs-btn-active-border-color: transparent !important;
  --bs-btn-hover-bg: #6ca343 !important;
  --bs-btn-hover-border-color: transparent !important;
}

.form-control:focus, .form-select:focus {
  border-color: #81BC55 !important;
  box-shadow: 0 1px 1px transparent inset, 0 0 8px #81BC55 !important;
  outline: 0 none !important;
}

.btn {
  padding: 10px 20px !important;
}

.btn:disabled {
  background-color: gray !important;
  border: 1px solid darkgray !important;
  opacity: 0.4 !important;
}

h1, h2 {
  color: #81BC55 !important;
  font-family: 'Rubik', sans-serif;
  text-align: center;
}

h3, h4, h5, h6 {
  text-align: center;
}

.modal-content {
  border: none !important;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}