.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 50px 0px;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -100;
    pointer-events: none;
}

.logo {
    position: fixed;
    left: 30px;
    top: 30px;
    width: 157px;

    cursor: pointer;
}

.profileButton {
    position: fixed;
    right: 20px;
    top: 20px;
}

.profileIcon {
    width: 15px;
    margin-right: 7px;
    translate: 0 -2px;
}