.input {
    margin-top: 0
}

.inputError {
    border: 1px solid red;
}

.label {
    margin: 2px;
    opacity: 0.5;
}

.error {
    font-size: 12px;
    margin: 2px;
    opacity: 0.8;
    color: red;
}

.container {
    width: 100%;
}

.container h5 {
    text-align: start;
    margin-left: 3px;
}

.skeletonLabel {
    width: 100px;
    height: 15px;
    background-color: gray;
    opacity: 0.1;
    border-radius: 5px;
    margin: 10px 0px;
}

.skeletonText {
    width: 150px;
    height: 25px;
    background-color: gray;
    opacity: 0.3;
    border-radius: 5px;
    margin: 5px 0px;
}

.tags {
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 0;
    padding: 6px;
    min-height: 10px !important;
}

.tag {
    background-color: #81BC55;
    border-radius: 5px;
    color: white;
    padding: 4px 8px;
}