.container {
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding: 30px;
}

.card {
    width: 50%;
}