.priceContainer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 15px;
    margin-top: 60px;
}

.priceContainerMobile {
    justify-content: stretch;
    flex-direction: column;
}