.block {
    display: flex;
    min-width: 300px;
    min-height: 300px;
    background: #FFFFFF;
    box-shadow: 0 0 100px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: width;
    width: auto;
    transition-duration: 2s;
    margin-top: 30px;
}

.blockMobile {
    display: flex;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
}